*{
    margin: 0;
    padding: 0;
    box-sizing: boarder;
    font-family: gilroy;
    color: #fff;

}

html,body{
    height: 100%;
    width: 100%
}

#main{
    height: 100%;
    width: 100%;
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

#main>h1{
    font-size: 48px;
    display: flex;
    align-items: center;


}

 #main>h1 span{
    margin: 0 15px;
    display: flex;
    align-items: center;

}

#main>h1 span img{
    rotate: 180deg;
    height: 40px;
    transition : 0.5s ease;
}

#main>#endec-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #222;
    padding: 8px;
    height: 10%;
    width:auto;
    margin: 35px 0;
    border-radius: 10px;

} 

#main>#endec-div h3{
    font-size: 17px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    font-weight: 500;
    cursor: pointer;
    padding: 12px 10px;
    transform: 0.2s ease;
}

#enc-btn{
    background-color: #333;
}

#endec-div h3 span{
    display:flex;
    align-items: center;
    margin-right: 10px;
}

#endec-div h3 span img{
    height:40px;
    

}

#encryption{
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
 

}

#encryption h5{
    font-size: 16;
    font-weight: 500;
    color: #666; ;
}

#encryption textarea{
    width: 80%;
    height: 40px;
    border: 1px solid #343434;
    padding: 10px;
    border-radius: 8px;
    font-size: 17px;
    outline: none;
    margin-bottom: 30px;
    background-color: #1c1c1c;
}

#encryption input{
    width: 80%;
    border: 1px solid #343434;
    padding: 10px;
    border-radius: 8px;
    font-size: 17px;
    outline: none;
    margin-bottom: 15px;
    background-color: #1c1c1c;
}

#encryption button{
    display: flex;
    align-items: center;
    color: #666;
    background-color: #464444;
    border: none;
    width: 87%;
    height: 25;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    color: #eee;
    font-size: 17px;
}

button span{
    display: flex;
    margin-right: 10px;
}

button img{
    height: 20px;
}


#decryption{
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    display: none;
}

#decryption h5{
    font-size: 16;
    font-weight: 500;
    color: #666; ;
}

#decryption textarea{
    width: 80%;
    height: 40px;
    border: 1px solid #343434;
    padding: 10px;
    border-radius: 8px;
    font-size: 17px;
    outline: none;
    margin-bottom: 30px;
    background-color: #1c1c1c;
}

#decryption input{
    width: 80%;
    border: 1px solid #343434;
    padding: 10px;
    border-radius: 8px;
    font-size: 17px;
    outline: none;
    margin-bottom: 15px;
    background-color: #1c1c1c;
}

#decryption button{
    display: flex;
    align-items: center;
    color: #666;
    background-color: #464444;
    border: none;
    width: 87%;
    height: 25;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    color: #eee;
    font-size: 17px;
}

button span{
    display: flex;
    margin-right: 10px;
}

button img{
    height: 20px;
}

#result{
    padding: 10px;
    border-radius: 10px;
    font-size: 30px;
    background-color: #1c1c1c;
    border: 1px solid #343434;
    width: 40%;
    display: none;
    margin-top: 40px;
}

